---
import Link from "./ui/link.astro";
---

<div
  class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-10 lg:mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center">
  <h2 class="text-white text-4xl md:text-6xl tracking-tight">Join Us!</h2>
  <p class="text-slate-400 mt-4 text-lg md:text-xl">
    We're always looking for new members to join our community. If you're
    interested in learning more about our club, please reach out to us!
  </p>
  <div class="flex mt-5">
    <Link href="/contact" style="inverted">Contact Us</Link>
  </div>
</div>
