---
import { Picture } from "@astrojs/image/components";
import heroImage from "assets/hero.png";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="UOP Chess Club Logo"
      widths={[200, 400, 600]}
      aspectRatio="1:1"
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      UOP Chess Club
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Welcome to the UOP Chess Club! We are a group of chess enthusiasts who
      meet weekly to play chess and have fun. We also compete with other
      colleges to put our chess skills to the test.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link href="/events" class="flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="ion:calendar-outline" />

        Our Events
      </Link>
      <Link
        size="lg"
        style="outline"
        href="/contact"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="ic:outline-email" />
        Contact Us
      </Link>
    </div>
  </div>
</main>
